@using ClientDependency.Core
@using ClientDependency.Core.Mvc
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/adminBootstrap/css")
    @Styles.Render("~/bundles/modernizr")
   
    @MvcHtmlString.Create(Html.RenderCssHere(new List<IClientDependencyPath>
												{
													new BasicPath("Content", "~/Content")
												}).ToString())
    
    @MvcHtmlString.Create(Html.RenderCssHere(new List<IClientDependencyPath>
												{
													new BasicPath("jqueryUI", "~/Content/themes/base/")
												}).ToString())
     



    
</head>
<body class="skin-blue">
    @Html.Action("Header","Common", new {area="Admin"})
   <div class="wrapper row-offcanvas row-offcanvas-left">
        @RenderBody()
   </div>
    


    @Html.RenderJsHere(new BasicPath("jquery", "~/Scripts"),
                       new BasicPath("bootstrap","~/Content/bootstrap/js"),
                       new BasicPath("Content", "~/Content"),
                       new BasicPath("Custom", "~/Scripts/js"))
     
    @if(IsSectionDefined("scripts"))
    {
    @RenderSection("scripts")
    }
</body>
</html>