@{
    var items = ViewData.Model;
}

<h4>Products on Customer Wish List</h4>
<div>
    <span>Customer Name: @ViewBag.Name</span>
</div>
<div>
    
    <table>
        <thead>
            <tr>
                <th>Product Name</th> <th>Product Quantity</th><th>Product Number</th><th>Order Date</th>
            </tr>
        </thead>
         @foreach(var wl in ViewData.Model){
        <tr>
            <td>@wl.ProductName</td><td>@wl.Quantity</td><td>@wl.ProductNumber</td><td>@wl.OrderItemDate</td>
        </tr>
         }
    </table>
</div>