@using RepositoryPattern.Model.Catalog;
@using ClientDependency.Core.Mvc
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    Html.RequiresCss("FileUpload/jquery.fileupload-ui.css", "Content", 5);
    Html.RequiresCss("admin/font-awesome.css", "Content", 5);
    Html.RequiresCss("admin/ionicons.css", "Content", 5);

    Html.RequiresJs("FileUpload/tmpl.min.js", "Content", 5);
    Html.RequiresJs("FileUpload/canvas-to-blob.min.js", "Content", 5);
    Html.RequiresJs("FileUpload/load-image.min.js", "Content", 5);
    Html.RequiresJs("FileUpload/jquery.iframe-transport.js", "Content", 10);
    Html.RequiresJs("FileUpload/jquery.fileupload.js", "Content", 10);
    Html.RequiresJs("FileUpload/jquery.fileupload-ip.js", "Content", 20);
    Html.RequiresJs("FileUpload/jquery.fileupload-ui.js", "Content", 30);

    Html.RequiresJs("jquery-2.1.1.js", "jquery", 1);
    Html.RequiresJs("jquery-ui-1.8.20.js", "jquery", 2);
    Html.RequiresJs("FileUpload/locale.js", "Content", 90);
    Html.RequiresJs("FileUpload/main.js", "Content", 99);
    Html.RequiresJs("admin/app.js", "Content", 99);
    Html.RequiresJs("admin/dashboard.js", "Content", 99);
}
@model Category
 @{var listItems = new List<SelectListItem>
                                        {
                                          new SelectListItem { Text = "Toyoto", Value = "0" },
                                          new SelectListItem { Text = "Honda", Value = "1" },
                                          new SelectListItem { Text = "Subaru", Value = "2" }
                                        };}


@Html.Action("Menu", "Common", new {area="Admin"})

 <aside class="right-side">
 <section class="content">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-10">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Edit Category</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <div role="form">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Name</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="@Model.Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Description</label>
                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password" value="@Model.Description">
                                        </div>
                                         <div class="form-group">
                                            <label for="exampleInputPassword1">Parent Category</label>
                                             @Html.DropDownList("Test", new SelectList(listItems, "Value", "Text"), new {@class="select_styled select_styled_red" })
                                        </div>
                                         <div class="form-group">
                                            <label for="exampleInputPassword1">Alias</label>
                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password" value="@Model.Alias">
                                        </div>
                                        <div class="form-group">
                                          @Html.Partial("Picture")
                                        </div>
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div><!-- /.box -->
                    </div>
              </section>
    

</aside>

 
