@using RepositoryPattern.Model.Catalog;
@using ClientDependency.Core.Mvc
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    

    Html.RequiresCss("dropzone/css/basic.css", "Content", 5);
    Html.RequiresCss("dropzone/css/dropzone.css", "Content", 5);
    Html.RequiresCss("admin/font-awesome.css", "Content", 5);
    Html.RequiresCss("admin/ionicons.css", "Content", 5);



    Html.RequiresJs("jquery-2.1.1.js", "jquery", 1);
    Html.RequiresJs("jquery-ui-1.8.20.js", "jquery", 2);
    Html.RequiresJs("dropzone/dropzone.js", "Content", 5);
    Html.RequiresJs("admin/app.js", "Content", 99);
    Html.RequiresJs("admin/dashboard.js", "Content", 99);
}
@model Category
 @{var listItems = new List<SelectListItem>
                                        {
                                          new SelectListItem { Text = "Toyoto", Value = "0" },
                                          new SelectListItem { Text = "Honda", Value = "1" },
                                          new SelectListItem { Text = "Subaru", Value = "2" }
                                        };}


@Html.Action("Menu", "Common", new {area="Admin"})

 <aside class="right-side">
 <section class="content">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-10">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Edit Category</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <div role="form">
                                    <div class="box-body">
                                        <div class="form-group">
                                            @Html.Label("Name", new {@for="" })
                                            @Html.TextBoxFor(x => x.Name, new {@class="form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Description", new {@for="" })
                                            @Html.TextBoxFor(x => x.Description, new {@class="form-control" })
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("Parent Category", new {@for="" })
                                            @Html.DropDownList("ParentCategoryId", new SelectList(listItems, "Value", "Text"), new {@class="form-control" })
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("Alias", new {@for="" })
                                            @Html.TextBoxFor(x => x.Alias, new {@class="form-control" })
                                        </div>
                                    
                                       <label>Picture</label>  
                                       <div id="mydropzone" class="dropzone"></div>
                                       
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                                </div>
                            </div><!-- /.box -->
                    </div>
              </section>
    

</aside>

  @section scripts{
      <script type="text/javascript">
          $("div#mydropzone").dropzone({
              url: "#",
              maxFiles:0,
              init: function () {
                  var mockFile = { name: "IMG_0060.JPG", size: 12345 };
                  this.emit("addedfile", mockFile)
                  this.emit("thumbnail", mockFile, "/Images/WallImages/imagepath/" + mockFile.name);
                  this.createElement('<a href="#" class="btn btn-primary">Remove file</a>');
                  this.emit("thumbnail", function (file) {
                      var removeButton = Dropzone.createElement('<a href="#" class="btn btn-primary">Remove file</a>');
                      file.previewElement.appendChild(removeButton);
                  })

               
              }
          });
         

    </script>

     }
