
@using (Html.BeginForm("LoginModal", "Account"))
{
  <div class="form-group">
    @Html.Label("Email Address")
    @Html.TextBox("username",null,new{@class="form-control",placeholder="Email Address"})
    @Html.ValidationMessage("username")
  </div>
  <div class="form-group">
    @Html.Label("Password")
    @Html.Password("password",null,new{@class="form-control",placeholder="Password"})
    @Html.ValidationMessage("password")
  </div>
   <div class="form-group">
      <input type="button" value="Submit" onclick="catalog.LoginModal()" class="btn btn-primary" id="btnLoginModal" />
   </div>
   <div class="form-group" id="divErrorMessage">
                
   </div>
}