@model IEnumerable<RepositoryPattern.Model.Catalog.ProductCategory>
@{var csspart = "~/Content/themes/Plumb";
  var imgpath = "~/Images/WallImages/imagepath";
  }
  <br> 


<div class="main-content">
<div class="container">
  <div class="page-header">
  <h1><small>Top Requested Products</small></h1>
  </div>
@if(Model != null)
{
    //var ss = Model.Select(x => x.Category.Name).FirstOrDefault();
<div class="col-md-4">
    <div class="thumbnail">
      <img src="@Url.Content(csspart + "/img/top-products.jpg")" alt="...">
      <div class="caption">
        <h3>Feature Produts</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
  </div>
    
  
<div class="col-md-8">
    @foreach(var cat in Model)
    {
        int i = cat.Product.ID;
    <div class="col-sm-3">
         <div class="product-image-wrapper">
        <div class="single-products">
        <div class="productinfo text-center">
         @{ if(cat.Picture!=null)
         {  
           <a href="@Url.Action("Product", "Home", new {prd=cat.Product.ID, catID =cat.CategoryID??default(int)})">
               <img  style="height:auto; width:auto; max-width:170px; max-height:200px;"  src="@Url.Content(imgpath + "/" + cat.Picture.FilePath)"></a>
         }
         else{<a href="#"><img  style="height:auto; width:auto; max-width:170px; max-height:200px;" src="@Url.Content(csspart + "/img/I08000.jpg")"></a>}
         }
    <a><p>@cat.Product.Name</p></a>
    </div>
    </div>
             </div>
        </div>
    }
</div>

}
</div>
</div>