@model RepositoryPattern.Models.ProductSideMenu
@{

    var mainmenu = Model.SingleCategory;
    var submenu = from c in Model.MultipleCategory
                  where mainmenu.ID == c.ParentCategoryID
                  select new { c };
    var subsubMenu = from d in Model.MultipleCategory
                     from s in submenu
                     where s.c.ID == d.ParentCategoryID
                     select new { d };
}

<!--<div class="col-sm-2" id="msidebar">-->
<div class="col-sm-2 category-products">
     <h4 class="">Category</h4>
          <div class="single-nav">
                  <ul class="nav" >
                      @{if (Model != null)
                      {
                        
                             
                          <li><a href="@Url.Action("CategoryProduct", "Home", new { Id = mainmenu.ID })">@mainmenu.Name </a>
                              <div>
                                  @if (submenu.Any(a => a.c.ParentCategoryID == mainmenu.ID) == true)
                                  {
                                     foreach ( var s in submenu)
                                     {
                                     <span><a href="@Url.Action("CategoryProduct", "Home", new { Id = s.c.ID})">@s.c.Name</a>
                                         @if(subsubMenu.Any(a => a.d.ParentCategoryID == s.c.ID) == true){
                                             foreach(var sub in subsubMenu){
                                            <span><a href="@Url.Action("CategoryProduct", "Home", new { Id = sub.d.ID})">@sub.d.Name</a></span>
                                             }
                                         }
                                     </span> 
                                     }
                                  }
                              </div>
                          </li>
                          }
                      

                     }
                     @* <li class="divider"></li>*@
                  </ul>
      </div>
    </div>