@using RepositoryPattern.Areas.Admin.Infacstructure
@using ClientDependency.Core.Mvc
@{
    //Html.RequiresCss("bootstrap/bootstrapValidator.css", "Content", 5);
    //Html.RequiresJs("bootstrapValidator.js", "Custom", 1);
}
@{
   
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Root.cshtml";
}
@{var csspart = "~/Content/themes/Plumb";
  var imgpath = "~/Images/WallImages/imagepath";

  List<RepositoryPattern.Model.Catalog.ProductVariation> cat = new List<RepositoryPattern.Model.Catalog.ProductVariation>();
  var Prdvar = Model.ProductVariation.ToList();
  SelectList sl = new SelectList(Prdvar, "ID", "DesciptSize");
   var category =  CommonHelpers.GetAllCategory();
   var catID = category.Where(c => c.ID == ViewBag.catID).Select(x =>x.ParentCategoryID).FirstOrDefault();
   int ss = ViewBag.catID ?? default(int);
  } 
@model RepositoryPattern.Models.ProductGroup

<div class="container">
 @Html.Action("Menu","Common")
     <div class="row">
           @*Html.Action("SideMenu","Common",new{Id= ss})*@
         @Html.Action("SideMenuFullCategory","Common",new{Id= ss})

         <!-- Thiis is the begining of the product details information -->
         <div class="col-lg-4" id="proimg">
             <img src="@Url.Content(imgpath + "/" + @Model.Picture.FilePath)" >
         </div>
         <div class="col-lg-4" id="proinfo">
             <h3>@Model.Product.Name</h3>
             <p>@Model.Product.SKU</p>
             <hr>
             <p class="description">@Model.Product.Description</p>
             <br>
             <div id="poption">
                @Html.DropDownList("ddlProductVariation", new SelectList(sl, "Value", "Text"), new {@class="form-control" })
                 <br>
             	<div class="row">
                     <div class="col-lg-3">
                         <label><strong>Qty</strong></label>
                         <input type="text" class="form-control" id="txtQuantity">
                     </div>
                     <div class="col-xs-7">
                         <button id="lbtn" onclick="catalog.addWishList(@Model.Product.ID)" type="submit" class="btn btn-primary btn-lg btn-block">Add To WishList</button>
                         <br>
                         <p>Already have a list? <a href="#">Sign In</a></p>
                     </div>
                </div>
           	</div>
           	</div>
         <!-- This is the end of the product details page -->
             <div class="col-sm-8 pull-right">
             <br>
                 <div class="col-sm-3">
                     <h4>ADDITIONAL INFO</h4>
                 </div>

              <div class="panel panel-default">
                  <div class="panel-body">
                     <div class="col-sm-6 ">
                         <table class="table table-hover">
                             <tr>
                                 <td>BGSI Part NO:</td>
                                 <td><strong>@Model.Product.SKU </strong></td>
                             </tr>
                             <tr>
                                 <td>Manufacturer No:</td>
                                 <td><strong>@Model.Product.ManufacturePartNo</strong></td>
                             </tr>
                         </table>
                     </div>
                  </div>
            </div>

             </div>

  
    </div>

@*<div id="authentication"></div>*@
@section scripts{
   
}