@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Root.cshtml";
}
@{var csspart = "~/Content/themes/Plumb";
  var imgpath = "~/Images/WallImages/imagepath";
  } 
@model RepositoryPattern.Models.ProductGroup

<div class="container">
 @Html.Action("Menu","Common")
     <div class="row">
         @Html.Action("SideMenu","Common")

         <!-- Thiis is the begining of the product details information -->
         <div class="col-sm-4" id="proimg">
             <img src="@Url.Content(imgpath + "/" + @Model.Picture.FilePath)" style="height:auto; width:auto; max-width:270px; max-height:400px;">
         </div>
         <div class="col-sm-4">
             <h3>@Model.Product.Name</h3>
             <p>@Model.Product.SKU</p>
             <hr>
             <p class="description">@Model.Product.Description</p>
             <br>
             <div id="poption">
                 <select class="form-control">
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                     <option>5</option>
                 </select>
                 <br>
             
                     <div class="col-xs-3">
                         <label><strong>Qty</strong></label>
                         <input type="text" class="form-control" placeholder="1">
                     </div>
                     <div class="col-xs-7">
                         <button id="lbtn" type="submit" class="btn btn-primary btn-lg btn-block">Add To WishList</button>
                         <br>
                         <p>Already have a list? <a href="#">Sign In</a></p>
                     </div>
                </div>
           </div>
         </div>
         <!-- This is the end of the product details page -->
        <div class="row">
             <div class="col-sm-8 pull-right">
                 <div class="col-sm-3">
                     <h4>ADDITIONAL INFO</h4>
                 </div>

              <div class="panel panel-default">
                  <div class="panel-body">
                     <div class="col-sm-6 ">
                         <table class="table table-hover">
                             <tr>
                                 <td>BGSI Part NO:</td>
                                 <td><strong>@Model.Product.SKU </strong></td>
                             </tr>
                             <tr>
                                 <td>Manufacturer No:</td>
                                 <td><strong>@Model.Product.ManufacturePartNo</strong></td>
                             </tr>
                         </table>
                     </div>
                  </div>
            </div>

             </div>

   </div>
    </div>

<div id="test1"></div>
