
@using RepositoryPattern.Model.Catalog;
@model Category
 @{ 
     var imgpath = "~/Images/WallImages/imagepath";
     RepositoryPattern.Model.Media.IPictureRepository picRepo = new RepositoryPattern.Data.PictureDataMapper();
     RepositoryPattern.Model.Media.Picture pic = new RepositoryPattern.Model.Media.Picture();
     if (pic != null){
         pic = picRepo.GetPictureById(Model.PictureID ?? default(int));
     }
  
    }
     
          <div class="product-image-wrapper">
        <div class="single-products">
        <div class="productinfo text-center">
              @if( pic!= null){
             <a href="@Url.Action("CategoryProduct","Home",new{Id= Model.ID})">
             <img style="height:auto; width:auto; max-width:170px; max-height:200px;"  src="@Url.Content(imgpath + "/" + @pic.FilePath)" /></a>
                }
                   @if(pic == null){
             <a href="@Url.Action("CategoryProduct","Home",new{Id= Model.ID})">     
             <img style="height:auto; width:auto; max-width:170px; max-height:200px;" src="@Url.Content(imgpath + "/pro-test.png")" /></a>
                   }
                    
             <h5>@Model.Name</h5>
                 
                <p>@Model.Description</p>
                <br>
                <br>
         </div>
     </div>
              </div>


   