@using ClientDependency.Core.Mvc
@{
    Layout = "~/Views/Shared/_RootHead.cshtml";
}
@{
    Html.RequiresCss("bootstrap/bootstrapValidator.css", "Content", 5);
    Html.RequiresJs("bootstrapValidator.js", "Custom", 1);
}

<div id="page">
    @if (IsSectionDefined("header"))
    {
        @RenderSection("header")
    }
    else{
        <section>

        </section>
    }
    <div id="content_wrapper">

        <section id="content">
            <!-- Content before body-->

            <div id="content-body" class="row">
                @RenderBody()
                <!-- Add more content after the body -->
            </div>
        </section>
    </div>

<div class="container" id="bottom">
	<div class="row">
  <div class="col-md-8"><h1>Save By Getting What You Need When You Need It</h1>
    	<p>Get the right parts the first time. Our highly experienced plumbing industry professionals aren't just order takers they're able to advise you so you get what you need,quickly and efficiently.</p></div>
  <div class="col-md-4" id="lady"><img  src="@Url.Content("~/Images/WallImages/imagepath/Customer-Service2.png")" /></div>
  <div class="container" id="banner"><H3>“We have many items for sale that are not shown on our web site, please call our sales department <a href="tel:5058840133">505-884-0133</a> for help.”</h3></div>
</div>
</div>
<br>
<br>
    @if (IsSectionDefined("beforeFooter"))
     {
         @RenderSection("beforeFooter")
     }
        else{
     }
     @if (IsSectionDefined("footer"))
     {
         @RenderSection("footer")
     }
        else{
            <div id="footer-wrapper">
                <footer>
                    <div class="container">
                        <div class="panel-footer">
                            <p>&copy; Copyright, 2014 Bob Garrecht Supply Inc.</p>
                            <a href="http://nashvillecomputerwebdesign.com/">Web Design BY Nashville Computer</a>
                        </div>
                    </div>
                </footer>
            </div>
     }
</div>
<div id="test1"></div>
<div id="authentication"></div>

  @if(IsSectionDefined("scripts"))
    {
     @RenderSection("scripts")
    }
<!-- You could add a widget to this after the footer -->