@{
    Layout = "~/Views/Shared/_RootHead.cshtml";
}

<div id="page">
    @if (IsSectionDefined("header"))
    {
        @RenderSection("header")
    }
    else{
        <section>

        </section>
    }
    <div id="content_wrapper">

        <section id="content">
            <!-- Content before body-->

            <div id="content-body" class="row">
                @RenderBody()
                <!-- Add more content after the body -->
            </div>
        </section>
    </div>
    @if (IsSectionDefined("beforeFooter"))
     {
         @RenderSection("beforeFooter")
     }
        else{
        <br /> <br />
            <div  class="container" id="banner"><h3>“We have many items for sale that are not shown on our web site, please call our sales department <a href="tel:5058840133">505-884-0133</a> for help.”</h3></div><br>
     }
     @if (IsSectionDefined("footer"))
     {
         @RenderSection("footer")
     }
        else{
            <div id="footer-wrapper">
                <footer>
                    <div class="container">
                        <div class="panel-footer">
                            <p>&copy; Copyright, 2014 Bob Garrecht Supply Inc.</p>
                            <a href="http://nashvillecomputerwebdesign.com/">Web Design BY Nashville Computer</a>
                        </div>
                    </div>
                </footer>
            </div>
     }
</div>
<div id="test1"></div>

  @if(IsSectionDefined("scripts"))
    {
     @RenderSection("scripts")
    }
<!-- You could add a widget to this after the footer -->