@using ClientDependency.Core.Mvc
@using RepositoryPattern.Areas.Admin.Infacstructure
@using RepositoryPattern.Areas.Admin.Models
@{
    ViewBag.Title = "Create Products";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    Html.RequiresCss("dropzone/css/basic.css", "Content", 5);
    Html.RequiresCss("dropzone/css/dropzone.css", "Content", 6);
    Html.RequiresCss("admin/font-awesome.css", "Content", 7);
    Html.RequiresCss("admin/ionicons.css", "Content", 8);
    Html.RequiresCss("dialog.css", "jqueryUI", 6);




    Html.RequiresJs("jquery-2.1.1.js", "jquery", 1);
    Html.RequiresJs("jquery-ui-1.11.1.js", "jquery", 2);
    Html.RequiresJs("editabletable.js", "jquery", 14);
    Html.RequiresJs("bootstrap.js", "bootstrap", 3);
    Html.RequiresJs("jquery.dialog.js", "Custom", 4);
    Html.RequiresJs("catalog.js", "Custom", 5);
    Html.RequiresJs("dropzone/dropzone.js", "Content", 10);
    Html.RequiresJs("admin/app.js", "Content", 11);
    Html.RequiresJs("admin/dashboard.js", "Content", 12);
}
@model RepositoryPattern.Areas.Admin.Models.Catalog

  @Html.Action("Menu", "Common", new { area = "Admin" })

 <aside class="right-side">
 <section class="content">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-10">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Edit Product Information</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->

                        @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { id = "editProductForm" }))
                        {

                                <div role="form">
                                    <div class="box-body">
                                        <div class="form-group">
                                            @Html.Label("Name", new { @for = "" })
                                            @Html.TextBoxFor(x => x.Product.Name, new { @class = "form-control", placeholder = "Name" })
                                            @Html.HiddenFor(x => x.Product.ID)
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("Short Description", null, new { @for = "" })
                                            @Html.TextBoxFor(x => x.Product.ShortDescription, new { @class = "form-control", placeholder = "Description" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Description", null, new { @for = "" })
                                            @Html.TextAreaFor(x => x.Product.Description, new { @class = "form-control", placeholder = "Description" })
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("Category", new { @for = "" })
                                            @Html.DropDownList("Product.CategoryID", new SelectList(CommonHelpers.GetCategory(), "Value", "Text"), new { @class = "form-control" })
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("BGSI Part NO", new { @for = "" })
                                            @Html.TextBoxFor(x => x.Product.SKU, new { @class = "form-control", placeholder = "Alias" })
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("Price", new { @for = "" })
                                            @Html.TextBoxFor(x => x.Product.Price, new { @class = "form-control", placeholder = "Alias" })
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("Manufacturer No", new { @for = "" })
                                            @Html.TextBoxFor(x => x.Product.ManufacturePartNo, new { @class = "form-control", placeholder = "Alias" })
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("Is a Feature Product?", new { @for = "" })
                                            @Html.CheckBox("Product.ShowOnHomePage", Model.Product.ShowOnHomePage ?? false)
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("Quantity", new { @for = "" })
                                            @Html.TextBoxFor(x => x.Product.StockQuantity, new { @class = "form-control", placeholder = "Alias" })
                                        </div>

                                         <div class="form-group">
                                            @Html.Label("Product Variation", new { @for = "" })<br />
                                            <div>
                                           <table class="table table-bordered table-hover" id="tblProductVariation">
                                              <thead><tr><th>Variation Name</th><th>Size</th></tr></thead>
                                               <tbody id="tablePrdVariation">
                                                   @{int cnt1 = 0;}
                                                  @if (Model.ProductVariation != null)
                                                  {
                                                      var cnt = Model.ProductVariation.Count;
                                                      
                                                   
                                                      
                                                      foreach (var prdvar in Model.ProductVariation)
                                                      {
                                                       <tr>
<<<<<<< HEAD
                                                          @* <td> <input type="hidden" name="[@prdvar.ID].Description" value="@prdvar.Description" />@prdvar.Description</td>
                                                           <td> <input type="hidden" name="[@prdvar.ID].Size" value="@prdvar.Size" />@prdvar.Size</td>*@
                                                           <td class="mmm" data-id="@i" data-des="Description">@Html.HiddenFor(x =>x.ProductVariation[i].Description) @Model.ProductVariation[i].Description</td>
                                                           <td class="mmm" data-id="@i"data-des="Size">@Html.HiddenFor(x =>x.ProductVariation[i].Size)@Model.ProductVariation[i].Size
                                                           @Html.HiddenFor(x =>x.ProductVariation[i].ID)</td>
                                                           <td><a href="@Url.Action("DeleteVariation", new {Id = Model.ProductVariation[i].ID, prdId = Model.Product.ID})">Remove</a>
                                                           </td>
                                                       </tr>
                                                   }
=======
                                                       <td> <input type="hidden" name="ProductVariation.[@cnt].Description" value="@prdvar.Description" />@prdvar.Description</td>
                                                       <td> <input type="hidden" name="ProductVariation.[@cnt].Size" value="@prdvar.Size" />@prdvar.Size</td>
                                                       <td><a href="@Url.Action("DeleteVariation", new { Id = prdvar.ID, prdId = Model.Product.ID })">Remove</a>
                                                       <td><a href="#" onclick="catalog.editProdtionVartion(@prdvar.ID)">Edit</a>
                                                        </td></tr>
                                                         cnt1 = cnt++;
                                                      }
                                                      
                                                      
>>>>>>> ed9b11dc932cf17a6faec16608f1556c49e6a0b0
                                                  }
                                               
                                               </tbody>
                                               
                                           </table>
                                            <input type="hidden" id="pvCount" value="@cnt1" /> 
                                                <br />
                                              <a href="#" class="btn btn-primary" id="btnProdVariationedit">Add Product Variation</a>
                                            </div>
                                        </div>
                                        @* <input type="hidden" value="@Model.Product.PictureID" id="mypic_id" />*@
                                          @if (Model.Product.PictureID != 0)
                                          {
                                         @Html.HiddenFor(x => x.Product.PictureID, new { id = "mypic_id" })
                                          }
                                       <label>Picture</label>  
                                       <div id="mydropzone" class="dropzone"></div>
                                        </div><!-- /.box-body -->
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>

                                </div> <!-- End forms -->
                        }
                                </div>
                            </div><!-- /.box -->
                          </div>
                  
              </section>
</aside>
<div id="productvariationedit"></div>
<div id="errordiv"></div>
  @section scripts{
      <script type="text/javascript">
          catalog.editProductImage();
          catalog.tableedit();
    </script>
      }


 
