@using ClientDependency.Core.Mvc
@using RepositoryPattern.Areas.Admin.Infacstructure
@{
    ViewBag.Title = "Create Products";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    Html.RequiresCss("dropzone/css/basic.css", "Content",5);
    Html.RequiresCss("dropzone/css/dropzone.css", "Content", 5);
    Html.RequiresCss("admin/font-awesome.css", "Content", 5);
    Html.RequiresCss("admin/ionicons.css", "Content", 5);
    
    
    

    Html.RequiresJs("jquery-2.1.1.js", "jquery", 1);
    Html.RequiresJs("jquery-ui-1.8.20.js", "jquery", 2);
    Html.RequiresJs("dropzone/dropzone.js", "Content", 5);
    Html.RequiresJs("admin/app.js", "Content", 99);
    Html.RequiresJs("admin/dashboard.js", "Content", 99);
}
@model RepositoryPattern.Model.Catalog.Product
 @{var listItems = new List<SelectListItem>
        {
            new SelectListItem { Text = "Toyoto", Value = "0" },
            new SelectListItem { Text = "Honda", Value = "1" },
            new SelectListItem { Text = "Subaru", Value = "2" }
        };}




  @Html.Action("Menu", "Common", new {area="Admin"})

 <aside class="right-side">
 <section class="content">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-10">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Edit Product Information</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->

                        @using(Html.BeginForm()){

                                <div role="form">
                                    <div class="box-body">
                                        <div class="form-group">
                                            @Html.Label("Name", new {@for="" })
                                            @Html.TextBoxFor(x => x.Name,  new {@class="form-control",placeholder="Name" })
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("Short Description",null, new {@for="" })
                                            @Html.TextBoxFor(x => x.ShortDescription, new {@class="form-control",placeholder="Description" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Description",null, new {@for="" })
                                            @Html.TextAreaFor(x => x.Description, new {@class="form-control",placeholder="Description" })
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("Category", new {@for="" })
                                            @Html.DropDownList("CategoryID", new SelectList(CommonHelpers.GetCategory(), "Value", "Text"), new {@class="form-control" })
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("SKU", new {@for="" })
                                            @Html.TextBoxFor(x => x.SKU, new {@class="form-control",placeholder="Alias" })
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("Price", new {@for="" })
                                            @Html.TextBoxFor(x => x.Price, new {@class="form-control",placeholder="Alias" })
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("Manufacturer", new {@for="" })
                                            @Html.TextBoxFor(x => x.ManufacturePartNo, new {@class="form-control",placeholder="Alias" })
                                        </div>
                                         <div class="form-group">
                                            @Html.Label("Quantity", new {@for="" })
                                            @Html.TextBoxFor(x => x.StockQuantity, new {@class="form-control",placeholder="Alias" })
                                        </div>
                                         <input type="hidden" value="@Model.PictureID" id="mypic_id" />
                                       <label>Picture</label>  
                                       <div id="mydropzone" class="dropzone"></div>
                                        </div><!-- /.box-body -->
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>

                                </div> <!-- End forms -->
                            }

                                </div>
                        

                            </div><!-- /.box -->
                          </div>
                  
              </section>
</aside>

  @section scripts{
      <script type="text/javascript">
          // url: "/Admin/Picture/SaveUploadedFile"
          $("div#mydropzone").dropzone({
              url: "/Admin/Picture/SaveUploadedFile",
              maxFiles: 1,
              init: function () {
                  var mm = $('#mypic_id').val();
                  var thiszone = this;
                  var mockFile = { name: "", size: 0 };
                  var removeButton = Dropzone.createElement('<a href="#" class="btn btn-primary">Remove file</a>');
                  $.getJSON('/Admin/Picture/GetPicture?Id=' + mm, function (data) {
                      var addHiddenValue = Dropzone.createElement('<input type="hidden" name="PictureID" id="pic_idx" value="' + mm + '"/>');
                      mockFile.name = data.FilePath
                      mockFile.size = 12345;
                      thiszone.emit("addedfile", mockFile)
                      thiszone.emit("thumbnail", mockFile, "/Images/WallImages/imagepath/" + mockFile.name);
                      mockFile.previewElement.appendChild(removeButton);
                      mockFile.previewElement.appendChild(addHiddenValue);
                  })

                  this.on("success", function (file, response) {
                      var addHiddenValue = Dropzone.createElement('<input type="hidden" name="PictureID" id="pic_idx" value="' + response.PictureId + '"/>');
                      file.previewElement.appendChild(addHiddenValue);
                  });

                  removeButton.addEventListener("click", function (e) {
                      var j = $('#pic_idx').val();
                      $.ajax({
                          url: '/Admin/Picture/RemoveUploadedFile?Id=' + j,
                      }).done(function (data) {
                          if (data.Message === 'Success') {
                              e.preventDefault();
                              e.stopPropagation();
                              thiszone.removeFile(mockFile);
                          }
                      });

                  });


                  thiszone.on("addedfile", function (file) {
                      //Dropzone.options.url="/Admin/Picture/SaveUploadedFile";
                      file.previewElement.appendChild(removeButton);

                      removeButton.addEventListener("click", function (e) {
                          var j = $('#pic_idx').val();
                          $.ajax({
                              url: '/Admin/Picture/RemoveUploadedFile?Id=' + j,
                          }).done(function (data) {
                              if (data.Message === 'Success') {
                                  e.preventDefault();
                                  e.stopPropagation();
                                  thiszone.removeFile(file);
                              }
                          });

                      });
                  });


              }
          });

    </script>
      }