@using ClientDependency.Core.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    
    Html.RequiresCss("FileUpload/jquery.fileupload-ui.css", "Content", 5);
    Html.RequiresCss("admin/font-awesome.css", "Content", 5);
    Html.RequiresCss("admin/ionicons.css", "Content", 5);

    Html.RequiresJs("jquery-2.1.1.js", "jquery", 1);
    Html.RequiresJs("jquery-ui-1.8.20.js", "jquery", 2);
    Html.RequiresJs("admin/app.js", "Content", 99);
    Html.RequiresJs("admin/dashboard.js", "Content", 99);
}

 @Html.Action("Menu", "Common", new {area="Admin"})
 @model RepositoryPattern.Areas.Admin.Models.HomeDisplay
 
<aside class="right-side">
  <section class="col-lg-12 connectedSortable">
  <div class="row">
       <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                          <li><a href="@Url.Action("Logout", "Account", new {@area="" })">
                            <i class="glyphicon glyphicon-user"></i> <span>Logout</span>
                         </a></li>
                      @*  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>*@
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-4 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        @Model.WishListCount
                                    </h3>
                                    <p>
                                        Total Items in WishList
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="glyphicon glyphicon-gift"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-4 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>
                                        @*53<sup style="font-size: 20px">%</sup>*@
                                        @Model.ProductCount
                                    </h3>
                                    <p>
                                        Total Number of Products
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="glyphicon glyphicon-briefcase"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-4 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>
                                       @Model.CustomerCount
                                    </h3>
                                    <p>
                                        User Registrations
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                  More Info
                                </a>
                            </div>
                        </div><!-- ./col -->
                        
                    </div><!-- /.row -->
                </section>
        </aside>
   </div>
  </section>
</aside>
